$primary_color : #972ed3;
$secondary_color :blue;
$background-color : red;
$white: #ffffff;
$black: #000000;
$grey: #838383;
$green : #3fb859;
$red : #ea524d;
$yellow : #e9b533;
$base-spacing: 1rem;
$small-spacing: 0.5rem;
$large-spacing: 2rem;

$mobile: 768px;
$tablet: 1024px;